<div class="container">
  <div class="gmail">
    <a href="mailto:subrmanianrajkumar@gmail.com"
      ><i class="ph ph-envelope"> Gmail</i></a
    >
    <h4>subrmanianrajkumar&#64;gmail.com</h4>
  </div>
  <div class="phone">
    <a href="tel:+91 8012934578"><i class="ph ph-phone"></i> Phone</a>
    <h4>8012934578</h4>
  </div>

  <div class="linkedin">
    <a href="https://www.linkedin.com/in/rajkumar-subrmanian/"
      ><i class="ph ph-linkedin-logo"></i> linkedin</a
    >
  </div>
  <div class="github">
    <a href="https://github.com/codercrocs"
      ><i class="ph ph-github-logo"></i> Github</a
    >
  </div>
</div>
