<div class="container">
  <div class="project-1">
    <h2 class="header">
      <span style="color: #a5553c">FavFood</span> - Food Delivery WebApplication
    </h2>

    <li>Implemented major design patterns in HTMl,CSS and Javascript.</li>
    <li>
      This is a static website that is majorly focussed on the design patterns
      and User Experience
    </li>
    <br />
    <div class="image-container">
      <img
        class="image"
        src="../../assets/images/favfood-app.jpg"
        alt="favfood-app"
      />
    </div>
    <div class="button-container">
      <a href="https://github.com/codercrocs"
        ><i class="ph ph-github-logo"></i>Github<button class="btn"></button
      ></a>

      <a href="https://favfood-raju-demo.netlify.app/"
        ><i class="ph ph-trend-up"></i> Live Application<button
          class="btn"
        ></button
      ></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="project-2">
    <h2 class="header">
      <span style="color: #a5553c">NationView</span> - Display all the coutries,
      their details and Location
    </h2>

    <li>
      Created a Full Dynamic Webapplication that uses API to fetch each
      country's details
    </li>
    <li>
      Worked on creating responsive web design and pleasant user Experience
    </li>

    <br />

    <div class="image-container">
      <img
        class="image"
        src="../../assets/images/Nation-view.jpg"
        alt="favfood-app"
      />
    </div>
    <div class="button-container">
      <a href="https://github.com/codercrocs"
        ><i class="ph ph-github-logo"></i>Github<button class="btn"></button>
      </a>
      <a href="https://favfood-raju-demo.netlify.app/"
        ><i class="ph ph-trend-up"></i> Live Application<button
          class="btn"
        ></button>
      </a>
    </div>
  </div>
</div>
