<div class="container">
  <div class="image">
    <img
      src="../assets/images/Rajkumar-dp.jpeg"
      class="image-container image-fluid"
      alt="rajkuamr-dp"
    />
  </div>
  <div class="intro-container">
    <h4 class="intro-header">Hello I'm</h4>
    <h1 style="color: #df7a42; font-weight: 900">
      Rajkumar <span style="color: #f9b68b; font-weight: 900">Subramanian</span>
    </h1>
    <p class="intro-content">
      Skilled in Angular, Javascript HTML, CSS, TypeScript, Bootstrap.
      <br />
      <br />Over the years, I've honed my skills in front-end development,
      specializing in Angular to deliver seamless user experiences.
      <br />
      <br />
      I'm eager to apply my expertise to a challenging role for software
      development.
      <br />
      let's connect and discuss how I can contribute to your organisation.
      <br />
    </p>
  </div>

  <div class="image">
    <img
      width="400px"
      height="400px"
      src="../assets/images/design.jpg"
      class="image-container image-fluid"
      alt="globe"
    />
  </div>

  <div class="intro-container">
    <h2 style="color: #df7a42; font-weight: 900">Techincal Skills</h2>
    <ul class="skill-list">
      <li>Javascript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Html</li>
      <li>css</li>
      <li>Bootstrap</li>
    </ul>
  </div>
</div>
