<div class="container mt-4">
  <div class="image">
    <img
      src="../assets/images/Rajkumar-dp.jpeg"
      class="image-container image-fluid"
      alt="rajkuamr-dp"
    />
  </div>
  <div class="intro-container">
    <h4 class="intro-header">Hello I'm</h4>
    <h1 style="color: burlywood">Rajkumar Subramanian</h1>
    <p class="intro-content">
      Skilled in Angular, Javascript HTML, CSS, TypeScript, Bootstrap.
      <br />With keen interest in Front-end Development, we can connect and
      discuss how I can contribute to your organisation.
    </p>
  </div>

  <div class="design-container">
    <img
      width="400px"
      height="400px"
      src="../assets/images/design.png"
      alt="globe"
    />
  </div>

  <div class="intro-container">
    <h2 style="color: #deb887">Techincal Skills</h2>
    <ul class="skill-list">
      <li>Javascript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Html</li>
      <li>css</li>
      <li>Bootstrap</li>
    </ul>
  </div>
</div>
